/*-------------------------
  Form Styling
-------------------------*/



textarea.form-control {
  min-height: 216px;
  max-height: 150px;

  @media(max-width: 578px) {
    min-height: 180px;
    max-height: 80px;
  }
}

.form-control {
  padding: clamp(12px, 1.042vw, 40px) clamp(18px, 1.25vw, 48px);
  border-radius: $br-8;
  border: 1px solid $dark-gray;
  background: transparent;
  font-family: $font-primary;
   font-size: 18px;
  /* 18px */
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  color: $black;
  box-shadow: none;

  &::placeholder {
    font-weight: 400;
    color: $dark-gray;
  }

  @include media-query(430px) {
    padding-right: 54px;
  }

  &.form-control-2 {
    
    padding: clamp(12px, 0.833vw, 32px);

  }

  &:focus {
    border: 1px solid $accent-3;
    box-shadow: none;
    outline: 0;
    color: $black !important;
    background: transparent;
  }

  &:hover {
    color: $black !important;
  }

  &::placeholder {
    color: $dark-gray;
    opacity: 1;
  }

  svg {
    position: absolute;
    top: 20px;
    // left: 18px;
  }
}

.input-block {
  position: relative;

  svg,
  i {
    transform: translate(0%, -0%);
    position: absolute;
    top: 21px;
    right: 16px;
  }
}

input[type="file"] {
  display: none;
}

label {
  &.error {
    color: #ff0000;
  }
}



.cus-checkBox {
  input {
    display: none;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &::before {
      content: '\f0c8';
      font-family: $font-awesome;
      color: $medium-black;
      font-size: clamp(16px, 1.042vw, 20px);
      font-weight: 300;
    }
  }

  input[type="checkbox"]:checked {
    +label {
      &::before {
        content: '\f14a';
        color: $accent-3;
        font-weight: 600;
      }
    }
  }
}