img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.container-fluid {
  @media (min-width: 1200px) {
    padding: 0 5vw;
    width: 100%;
  }

  padding-right: calc(var(--bs-gutter-x)* .75);
  padding-left: calc(var(--bs-gutter-x)* .75);

  @media (max-width: 575px) {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
  }

}

.page-content {
  margin: clamp(14px, 1.198vw, 40px) 0;
}


/*-------------------------
  Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $dark-gray;
  background-color: $lightest-gray;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(16px, 0.938vw, 22px);
  font-weight: 400;
  line-height: 140%;
  height: 100%;
  overflow-x: hidden;

  @include media-query(490px) {
    font-size: clamp(12px, 0.729vw, 28px);
  }
  
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $accent-4;
  }
}



a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  transition: $transition;


}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: $black;
  margin-bottom: 0;
}

h1,
.h1 {
  font-family: $font-sec;
  font-size: clamp(48px, 4.375vw, 99px);
  /* 84px */
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 96px */

  @include media-query(1199px) {
    font-size: clamp(46px, 4.837vw, 69px);
    /* 58px */
  }

  @include media-query(820px) {
    font-size: clamp(38px, 5.61vw, 58px);
    /* 46px */
  }

}

h2,
.h2 {
  font-family: $font-sec;
  font-size: clamp(48px, 3.49vw, 69px);
  /* 67px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 66px */

  @include media-query(1199px) {
    font-size: clamp(39px, 2.24vw, 52px);
    /* 43px */
  }

  @include media-query(820px) {
    font-size: clamp(33px, 1.979vw, 48px);
    /* 38px */
  }

}

h3,
.h3 {
  font-family: $font-sec;
  font-size: clamp(46px, 2.813vw, 125px);
  /* 54px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @include media-query(1199px) {
    font-size: clamp(33px, 1.927vw, 48px);
    /* 37px */
  }

  @include media-query(820px) {
    font-size: clamp(28px, 1.667vw, 38px);
    /* 32px */
  }

}

h4,
.h4 {
  font-family: $font-sec;
  font-size: clamp(36px, 2.24vw, 57px);
  /* 43px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 42px */

  @include media-query(1199px) {
    font-size: clamp(28px, 1.719vw, 40px);
    /* 33px */
  }

  @include media-query(820px) {
    font-size: clamp(20px, 1.406vw, 30px);
    /* 27px */
  }
}

h5,
.h5 {
  font-family: $font-sec;
  font-size: clamp(18px, 1.771vw, 62px);
  /* 34px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 33.6px */

  @include media-query(1199px) {
    font-size: clamp(20px, 1.302vw, 32px);
    /* 25px */
  }

  @include media-query(820px) {
    font-size: clamp(18px, 1.042vw, 24px);
    /* 20px */
  }
}

h6,
.h6 {
  font-family: $font-sec;
  font-size: clamp(15px, 1.458vw, 40px);
  /* 28px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 27.6px */

  @include media-query(1199px) {
    font-size: clamp(14px, 0.938vw, 36px);
    /* 18px */
  }

  @include media-query(820px) {
    font-size: clamp(14px, 0.833vw, 32px);
    /* 16px */
  }

}

.text-18,
p {
  color: $dark-gray;
  font-family: $font-primary;
  font-size: clamp(14px, 0.938vw, 36px);
  /* 18px */
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21.6px */

  @include media-query(399px) {
    font-size: clamp(12px, 0.729vw, 28px);
    /* 14px */
  }

}



.eyebrow {
  color: $accent-3;
  text-transform: uppercase;
  font-size: clamp(12px, 0.729vw, 28px);
  /* 14px */
  font-family: $font-primary;
  font-weight: 500;
  line-height: 120%;

  /* 24px */
  @include media-query(1199px) {
    font-size: clamp(12px, 0.677vw, 32px);
    /* 15px */
  }

}

.subtitle {
  font-size: clamp(12px, 0.729vw, 28px);
  /* 14px */
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @include media-query(1499px) {
    font-size: 15px;
  }
}

.caption {
  font-size: clamp(10px, 0.17px, 22px);
  /* 12px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @include media-query(1499px) {
    font-size: clamp(10px, 0.17px, 22px);
  }
}

span {
  display: inline-block;
}

b,
strong {
  font-family: $font-primary;
}

.hr-line {
  width: 100%;
  height: 1px;
  background: $medium-black;
}