/*============ Very large Device ===========*/
@media (min-width: 1441px) and (max-width: 1919px) {
}
/*============ Desktop Device ===========*/
@media (min-width: 1366px) and (max-width: 1440px) {
  .inner_main_nav_area > ul > li > a {
    margin: 30px 15px 30px;
  }
}
/*============ Laptop Device ===========*/
@media (min-width: 1024px) and (max-width: 1365px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-size: 18px;
    font-weight: 500;
  }
  .main_menu_area {
    padding: 0 15px;
  }
  .inner_main_nav_area > ul > li > a {
    margin: 30px 8px 30px;
  }
  .inner_main_nav_area {
    margin-left: -110px;
  }
  /* slider area css */
  .inner_slider_content {
    text-align: center;
  }
  .inner_slider_content p {
    width: 100%;
  }
  .inner_slider_area,
  .h2_inner_slider {
    height: 500px;
  }
  .inner_slider_content h2,
  .inner_slider_content h3 {
    font-size: 40px;
  }
  .abou_right_content h2 {
    font-size: 45px;
  }
  .witr_shape_img {
    display: none;
  }
  #scrollUp {
    bottom: 76px;
    right: 15px;
  }
  .ycalender_inner th {
    padding: 10px 11px;
    font-size: 14px;
  }
  .ycalender_inner td {
    padding: 10px 10px;
    font-size: 13px;
  }
}

/*============= Tablet Large device ===============*/
@media (min-width: 992px) and (max-width: 1023px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-size: 18px;
    font-weight: 500;
  }
  .main_menu_area {
    padding: 0 5px;
  }
  .inner_main_nav_area > ul > li > a {
    margin: 30px 8px 30px;
  }
  .inner_main_nav_area {
    margin-left: -110px;
  }
  /* slider area css */
  .inner_slider_content {
    text-align: center;
  }
  .inner_slider_content p {
    width: 100%;
  }
  .inner_slider_area,
  .h2_inner_slider {
    height: 500px;
  }
  .inner_slider_content h2,
  .inner_slider_content h3 {
    font-size: 40px;
  }
  .abou_right_content h2 {
    font-size: 45px;
  }
  .witr_shape_img {
    display: none;
  }
  #scrollUp {
    bottom: 76px;
    right: 15px;
  }
  .ycalender_inner th {
    padding: 10px 11px;
    font-size: 14px;
  }
  .ycalender_inner td {
    padding: 10px 10px;
    font-size: 13px;
  }
}

/*============= Tablet device ===============*/
@media (min-width: 768px) and (max-width: 991px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-size: 18px;
    font-weight: 500;
  }
  .mobile_logo_area {
    display: block !important;
    padding: 20px 0 20px;
  }
  /* main nav area css */
  .main_menu_area {
    display: none;
  }
  /* slider area css */
  .inner_slider_content {
    text-align: center;
  }
  .inner_slider_content p {
    width: 100%;
  }
  .inner_contact_content h2 {
    font-size: 35px;
  }
  .inner_slider_area,
  .h2_inner_slider {
    height: 500px;
  }
  .inner_slider_content h2,
  .inner_slider_content h3 {
    font-size: 40px;
  }
  .b_btn a {
    padding: 12px 30px;
    margin-bottom: 20px;
  }
  .abou_right_content h2 {
    font-size: 35px;
  }
  .main_feature {
    text-align: center;
  }
  .single_pz {
    margin-bottom: 15px;
  }
  .order_title h2 {
    font-size: 30px;
  }
  .witr_shape_img {
    display: none;
  }
  .blog_slide {
    padding: 0;
  }
  #scrollUp {
    bottom: 76px;
    right: 15px;
  }
}

/*============= mobile large device ===============*/
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-size: 18px;
    font-weight: 500;
  }
  .header_left,
  .header_top_middle,
  .header_right {
    text-align: center !important;
  }
  .mobile_logo_area {
    display: block !important;
    padding: 20px 0 20px;
  }
  /* main nav area css */
  .main_menu_area {
    display: none;
  }
  .inner_breadcum_area h1 {
    font-size: 33px;
  }
  .inner_breadcum_area {
    padding: 100px 0;
  }
  /* slider area css */
  .inner_slider_content {
    text-align: center;
  }
  .inner_contact_content h2 {
    font-size: 29px;
  }
  .inner_slider_content p {
    width: 100%;
  }
  .single_wrapper h4 {
    font-size: 22px;
  }
  .contact_area {
    padding: 70px 0 60px;
  }
  .single_wrapper {
    text-align: center;
  }
  .inner_slider_area {
    height: 500px;
  }
  .inner_slider_content h2 {
    font-size: 40px;
  }
  .main_feature,
  .abou_right_content,
  .single_blog_title {
    text-align: center;
  }
  .b_btn a {
    padding: 12px 30px;
    margin-bottom: 20px;
  }
  .abou_right_content h2 {
    font-size: 28px;
    margin-top: 15px;
  }
  .single_pz {
    margin-bottom: 18px;
  }
  .service_title_area p {
    width: 100%;
  }
  .inner_testimonial_content p {
    width: 100%;
  }
  .inner_counter_sub_cont {
    justify-content: center;
  }
  .inner_counter_area {
    margin-bottom: 20px;
  }
  .inner_counter_area {
    margin-bottom: 63px;
  }
  .portfolio_title h3 {
    font-size: 33px;
  }
  .single_order h2 {
    font-size: 40px;
  }
  .witr_shape_img {
    display: none;
  }
  .copy_right_text p,
  .menu-footer-menu ul {
    text-align: center;
  }
  .footer_area,
  .inner_counter_area h2 {
    text-align: center;
  }
  #scrollUp {
    bottom: 76px;
    right: 15px;
  }
}

/*============= mobile device ===============*/
@media (min-width: 320px) and (max-width: 480px) {
  .mobile_logo_area {
    padding: 20px 0;
  }
  .inner_slider_content h2,
  .inner_slider_content h3 {
    font-size: 28px;
  }
  .service_title_area h2 {
    font-size: 35px;
  }
  .inner_slider_content {
    margin: 0;
  }
  .inner_testimonial_content p {
    font-size: 19px;
  }
  .service_area {
    padding: 0;
  }
  .offer_title h2 {
    font-size: 28px;
  }
  .blog_shap {
    display: none;
  }
  .single_order h2 {
    font-size: 27px;
  }
  .ycalender_inner th {
    padding: 10px 12px;
  }
  .b_btn {
    text-align: center;
  }
  .inner_footer_form button {
    width: 100%;
  }
  .ycalender_inner td {
    padding: 10px 9px;
  }
  .inner_shop_title {
    display: block;
  }
}
