.about-us {
    background-color: $lightest-gray;

    p {
        @include media-query(1024px) {
            br {
                display: none;
            }
        }
    }

    .user-icon {
        display: flex;
        align-items: center;
        gap: $gap-16;

        img {
            border-radius: 50%;
            width: clamp(48px, 4.167vw, 160px);
            height: clamp(48px, 4.167vw, 160px);
        }
    }
}

.about-btn {
    padding: clamp(8px, 0.625vw, 24px);
  font-family: $font-sec;
}