.blog-detail {
    .hr-line {
        width: 48px;
        height: 1px;
        background-color: $accent-1;
        border-radius: 2px;
    }
    .qoute {
        background-color: $white;
        border-left: 2px solid $accent-3;
        display: flex;
        padding: clamp(18px, 1.25vw, 48px);
        flex-direction: column;
        align-items: flex-start;
        gap: clamp(18px, 1.25vw, 48px);
        border-radius: $br-10;
    }
}