.blog-sec {
    .shop-grid-topbar {

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-query(490px) {
            height: auto;
        }

    }

    &.v-2 {
        @include media-query(490px) {
            flex-direction: row;
            gap: 16px;
            place-items: flex-start;
            margin-bottom: 12px;
        }
    }
}

.last-block {
    display: flex;
    align-items: center;
    gap: 16px;

    &.v-2 {
        @include media-query(490px) {
            width: 100%;
        }
    }

    .drop-container {
        padding: clamp(12px, 0.833vw, 32px);
        border-radius: $br-12;
        border: 1px solid $dark-gray;
        background-color: $white;

        &.v-2 {
            @include media-query(490px) {
                width: 100%;
            }
        }

        .wrapper-dropdown {
            &.v-2 {
                @include media-query(490px) {
                    width: 100%;
                }
            }
        }
    }
}