.coming-soon-page {
    display: grid;
    align-items: center;

    .coming-soon-bg {
        padding: clamp(48px, 4.167vw, 160px) 0;
        background-color: $white;
        border: 1px solid $dark-gray;
        border-radius: $br-24;
    }


    .title-area {
        img {
            @include media-query(1399px) {
                width: clamp(54%, 36.979vw, 500px);
            }
        }
    }

    .newsletter-text {
        .text {
            font-size: clamp(50px, 5.208vw, 150px);
        }

        form {
            position: relative;
            margin: 0 auto;
            width:  clamp(300px, 25.417vw, 500px);

            button {
                position: absolute;


                @include media-query(490px) {
                    position: absolute;
                }
            }
        }

        .coming-soon-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;


            ul {
                display: flex;
                gap: clamp(6px, 0.833vw, 24px);

                li {
                    width: clamp(76px, 6.25vw, 240px);
                    height: clamp(76px, 6.25vw, 240px);
                    border: 1px solid $dark-gray;
                    border-radius: $br-8;
                    background: $lightest-gray;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;

                    @include media-query(490px) {
                        width: 76px;
                        height: 84px;
                    }

                    h4 {
                        color: $medium-black;
                        font-family: $font-sec;
                        text-transform: uppercase;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%;
                        /* 66px */

                    }

                    p {
                        color: $medium-black;
                        font-family: $font-sec;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        /* 27.6px */
                    }

                }
            }

        }
    }

    form {
        position: relative;

        input {
            gap: $gap-24;

            &.form-input {
                padding: clamp(30px, 1.563vw, 64px);
                padding-left: clamp(12px, 0.625vw, 24px);
                border-radius: $br-16;
                font-family: $font-primary;
                font-size: clamp(13px, 0.938vw, 26px);
                /* 18px */
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0.32px;
                position: relative;
                box-shadow: none;
                width: 100%;
                font-family: $font-primary;
                font-style: normal;


                @include media-query(430px) {
                    padding-right: clamp(50px, 2.813vw, 56px);
                }

                &:focus {
                    box-shadow: none;
                    outline: 0;
                    color: $medium-black !important;
                    background: transparent;
                }

                &::placeholder {
                    color: $medium-black;
                    opacity: 1;
                }
            }
        }

        .submit-arrow {
            padding: clamp(14px, 0.938vw, 36px)  clamp(24px, 1.667vw, 64px);
            gap: $br-12;
            position: absolute;
            right: 10px;
            top:  clamp(13px, 1.042vw, 40px);
            border: 0;

         
        }

        .mailBox {
            position: absolute;
            left: clamp(14px, 0.833vw, 20px);
            top: clamp(17px, 0.938vw, 19px);
        }
    }
}