.error-page {
    .error-wrapper {
        background: url(../media/backgrounds/404-bg.png) no-repeat;
        background-position: center;
        background-size: cover;
        background-color: $white;
        border: 1px solid $dark-gray;
        border-radius: $br-24;
        padding: clamp(48px, 4.167vw, 160px) 0;

        img {
            @include media-query(1399px) {
                width: clamp(124px, 14.938vw, 360px);

            }
        }
        .error-content{
            @include media-query(499px) {
                p{
                    br{
                        display: none;
                    }
                }

            }
        }
    }

    .error-text {
        color: $accent-3;
        font-size: clamp(100px, 15.625vw, 360px);
        font-weight: 600;
        line-height: 100%;

    }
}