.hero-banner {
  background: url(../media/hero/hero-bg.png) no-repeat;
  background-size: cover;
  color: $white !important;
  padding: clamp(48px, 4.167vw, 160px) 0;

  .hero-text {
    h1 {
      letter-spacing: -2.52px;

      br {
        @include media-query(1360px) {
          display: none;
        }
      }
    }

    p {
      br {
        @include media-query(820px) {
          display: none;
        }
      }
    }

    p {
      br {
        @include media-query(576px) {
          display: none;
        }
      }
    }

  }

  // .hero-bg-img {}

  .hero-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(24px, 1.667vw, 64px);
    height: clamp(24px, 1.667vw, 64px);
    background-color: $accent-3;
    border-radius: 50%;
  }

  .veg-icon {
    .veg-icon-1 {
      width: clamp(24px, 1.667vw, 64px);
    }

    .veg-icon-2 {
      width: clamp(24px, 1.667vw, 64px);
    }

    .veg-icon-3 {
      width: clamp(24px, 1.667vw, 64px);
    }

    .veg-icon-4 {
      width: clamp(24px, 1.667vw, 64px);
    }
  }

}