.ingredient-sec {


    .quality-text {
        line-height: 150%;
        padding-left: clamp(28px, 2.5vw, 68px);

        @include media-query(820px) {
            padding-left: 4px;
        }
    }

    .quality-right-text {
        padding-right: clamp(28px, 2.5vw, 68px);

    }

    .ingredients-ul {
        border-radius: 50%;
        background-color: $light-gray;
        width: clamp(5px, 0.313vw, 8px);
        height: clamp(5px, 0.313vw, 8px);
    }

    .ingredients-content {
        padding-left: 6.771vw;

        @include media-query(1499px) {
            padding-left: 0;
        }

        @include media-query(766px) {
            display: flex;
            justify-content: space-between;

            h5 {
                br {
                    display: none;
                }
            }

        }
    }

    .ingredients-content-2 {
        padding-right: 6.771vw;


        @include media-query(1499px) {
            padding-right: 0;
        }

        @include media-query(766px) {
            display: flex;
            justify-content: space-between;

            h5 {
                text-align: left !important;

                br {
                    display: none;
                }
            }
        }
    }
}