.menu-section {
    .first-menu {
        position: relative;
        align-items: center;
        display: flex;
        gap: $gap-24;
        padding: clamp(50px, 8.646vw, 68px) 0 clamp(50px, 8.646vw, 68px) clamp(18px, 1.667vw, 64px);
        background-color: $accent-5;
        background-image: url(../media/menu/menu-1.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
    }

    .first-menu-2 {
        background-size: contain;
        position: relative;
        align-items: center;
        display: flex;
        gap: $gap-24;
        padding: clamp(50px, 8.646vw, 68px) 0 clamp(50px, 8.646vw, 68px) clamp(18px, 1.667vw, 64px);
        background-color: $accent-3;
        background-image: url(../media/menu/menu-2.png);
        background-repeat: no-repeat;
        background-position: top right;

    }

    .first-menu-3 {
        position: relative;
        align-items: center;
        display: flex;
        gap: $gap-24;
        padding: clamp(50px, 8.646vw, 68px) 0 clamp(50px, 8.646vw, 68px) clamp(18px, 1.667vw, 64px);
        background-color: $accent-4;
        background-image: url(../media/menu/menu-3.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;

        @include media-query(1399px) {
            padding: clamp(50px, 8.646vw, 68px) 0 clamp(50px, 8.646vw, 68px) clamp(18px, 1.667vw, 64px);
            background-size: contain;
            background-position: center right;
        }

    }

    .first-menu-4 {
        position: relative;
        align-items: center;
        display: flex;
        gap: $gap-24;
        padding: clamp(40px, 2.292vw, 68px) 0 clamp(40px, 2.292vw, 68px) clamp(18px, 2.5vw, 68px);
        background-color: $accent-2;
        background-image: url(../media/menu/menu-4.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @include media-query(499px) {
            background-size: contain;
            background-position: 142%;
            padding: clamp(38px, 3.33vw, 84px) 0 clamp(38px, 3.33vw, 84px) clamp(16px, 1.042vw, 40px);
        }
        @include media-query(399px) {
            background-size: contain;
            background-position: 185%;
            padding: clamp(38px, 3.33vw, 84px) 0 clamp(38px, 3.33vw, 84px) clamp(16px, 1.042vw, 40px);
        }

    }

    .first-menu-5 {
        position: relative;
        align-items: center;
        display: flex;
        gap: $gap-24;
        padding: clamp(40px, 2.292vw, 68px) 0 clamp(40px, 2.292vw, 68px) clamp(18px, 2.5vw, 68px);
        background-color: $accent-1;
        background-image: url(../media/menu/menu-3.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        @include media-query(1399px) {
            padding: clamp(50px, 8.646vw, 68px) 0 clamp(50px, 8.646vw, 68px) clamp(18px, 1.667vw, 64px);
            background-size: contain;
            background-position: center right;
        }
    }

    .redirect-link {
        padding: clamp(60px, 6.354vw, 68px) 0;


        .menu-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $accent-3;
            width: clamp(28px, 2.5vw, 68px);
            height: clamp(28px, 2.5vw, 68px);

            &:hover {
                transition: $transition;
                background-color: $accent-4;
            }

            svg {
                width: clamp(18px, 1.146vw, 40px);
                height: clamp(12px, 0.833vw, 32px);
            }
        }

    }

}

.menu-cus-btn {
    &:hover {
        background-color: $light-black !important;
    }

    &::before {
        background-color: $accent-2 !important;
    }
}

// CSS FOR MENU PAGE
.our-menu {
    .name-price {
        display: flex;
        align-items: center;
        gap: $gap-24;

        a {
            transition: $transition;

            &:hover {
                color: $accent-1;
                transition: $transition;
            }
        }

        .center-line {
            width: 100%;
            height: 1px;
            background-color: $light-gray;
        }
    }

    .menu-wrapper {
        padding-right: clamp(24px, 3.75vw, 64px);

        @include media-query(768px) {
            padding-right: 0;
        }
    }

    .menu-wrapper-2 {
        padding-left: clamp(24px, 3.438vw, 64px);

        @include media-query(768px) {
            padding-left: 0;
        }
    }

    .name-price {

        a {
            transition: $transition;

            &:hover {
                color: $accent-4 !important;
                transition: $transition;
            }
        }
    }

    p {
        @include media-query(768px) {
            br {
                display: none;
            }
        }
    }
}