.team-sec {
    .team-member {
        // display: flex;
        // gap: $gap-24;
        // justify-content: center;

        // @include media-query(1299px) {
        //     flex-wrap: wrap;

        // }

        .our-team {
            width: 100% !important;

            // margin: 0 ;
            &:hover {
                margin-bottom: 30px;
            }

            p {
                @include media-query(1024px) {
                    br {
                        display: none;
                    }

                }
            }
        }

        .team-1 {
            margin: 0 12px;
            transition: $transition;

            .team-content-box {
                width: 100% !important;
            }

            .team-img {
                position: relative;
                z-index: 100;
                transition: $transition;
                display: flex;
                justify-content: center;
                margin-top: 30px;

                @include media-query(1699px) {
                    margin-top: 30px;
                }


                img {
                    width: clamp(120px, 10.417vw, 274px);
                    height: clamp(120px, 10.417vw, 274px);
                    border-radius: 50%;
                }
            }

            .team-content {
                transition: $transition;
                width: clamp(240px, 17.005vw, 374px);
                border-radius: $br-24;
                margin-top: clamp(-135px, -7.083vw, -164px);
                background-color: $dark-gray;
                padding: clamp(96px, 8.542vw, 184px) clamp(22px, 1.667vw, 64px) clamp(22px, 1.667vw, 64px) clamp(22px, 1.667vw, 64px);
                text-align: center;
                position: relative;
                margin-bottom: 30px;

                @include media-query(1699px) {
                    margin-bottom: 30px;
                    margin-top: -100px;
                }

                @include media-query(1024px) {
                    margin-bottom: 30px;
                    margin-top: -84px;
                }

                @include media-query(820px) {
                    margin-bottom: 30px;
                    margin-top: -76px;
                }

                .varticle-line {
                    transition: $transition;
                    top: 0px;
                    position: absolute;
                    bottom: -100px;

                }

                .social-icon {
                    left: 50%;
                    bottom: -50px;
                    transform: translate(-50%, -0%);
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    gap: $gap-16;
                    transition: $transition;

                    svg {
                        width: clamp(14px, 1.25vw, 48px);
                        height: clamp(14px, 1.25vw, 48px);
                    }

                    a {
                        border-right: 1px solid $white;
                        padding-right: clamp(12px, 0.833vw, 32px);
                    }

                    .social-icon-end {
                        border-right: none;

                    }

                }

                .team-text {
                    color: $white;

                }
            }

            &:hover {
                color: $white;
                transform: scale(1.1);
                transition: $transition;

                @include media-query(575px) {
                    transform: none;
                }
        

                .team-content {
                    background-color: $accent-1;

                    .social-icon {
                        justify-content: center;
                        bottom: clamp(8px, 0.625vw, 24px);
                        transition: $transition;
                        align-items: center;
                        display: flex;


                    }

                    .varticle-line {
                        position: relative;
                        transition: $transition;
                    }
                }
            }
        }
    }
}

.our-team{
    margin: 0 !important;
}