.shop-grid-topbar-container {
    background: $white;
    border: 1px solid $dark-gray;
    padding: clamp(18px, 1.25vw, 48px);
    border-radius: $br-16;

    .shop-grid-bottombar {
        display: flex;
        align-items: center;
        gap: 16px;

        @include media-query(490px) {
            flex-wrap: wrap;
        }

        .filter-tag {
            display: flex;
            align-items: center;
            gap: $gap-8;
            color: $white;
            padding: clamp(5px, 0.313vw, 7px) clamp(6px, 0.417vw, 16px);
            border-radius: $br-4;
            background: $dark-black;
        }
    }

    .shop-grid-topbar {
        padding: 12px 16px;
        height: 56px;
        border-radius: $br-10;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-query(490px) {
            height: auto;
        }

        &.v-2 {
            @include media-query(490px) {
                flex-direction: row;
                gap: 16px;
                place-items: flex-start;
                margin-bottom: 12px;
            }
        }

        .first-block {
            display: flex;
            align-items: center;
            gap: 24px;

            .visual-btns {
                display: flex;
                align-items: center;
                gap: 16px;

                &.v-2 {
                    @include media-query(490px) {
                        gap: 32px;
                    }
                }

                .visual-box {
                    svg {
                        path {
                            transition: $transition;
                        }
                    }

                    &:hover,
                    &.active {
                        svg {
                            path {
                                transition: $transition;
                                fill: $accent-3;
                            }
                        }
                    }

                    &.shop-filter {
                        padding: clamp(8px, 0.625vw, 24px) clamp(18px, 1.25vw, 48px);
                        border-radius: $br-4;
                        background: $accent-3;
                        display: flex;
                        align-items: center;
                        gap: $gap-8;
                        color: $white;
                        transition: $transition;

                        svg {
                            path {
                                transition: $transition;
                            }
                        }

                        &:hover {
                            background: $accent-1;

                            svg {
                                path {
                                    color: $white;
                                    stroke: $white;
                                    transition: $transition;
                                }
                            }
                        }
                    }
                }
            }
        }

        .second-block {
            .grid-icons {
                display: flex;
                align-items: center;
                gap: 8px;

                &.v-2 {
                    @include media-query(490px) {
                        gap: 24px;
                    }
                }

                .grid-dots {
                    svg {
                        path {
                            fill: $lightest-gray;
                            transition: $transition;
                        }
                    }

                    &:hover,
                    &.active {
                        svg {
                            path {
                                transition: $transition;
                                fill: $accent-1;
                            }
                        }
                    }
                }
            }
        }

    }
}

.last-block {
    display: flex;
    align-items: center;
    gap: 16px;

    &.v-2 {
        @include media-query(490px) {
            width: 100%;
        }
    }

    .drop-container {
        background-color: $light-black;
        padding: clamp(4px, 0.365vw, 16px) clamp(8px, 0.625vw, 24px);
        border-radius: 5px;

        &.v-2 {
            @include media-query(490px) {
                width: 100%;
            }
        }

        .wrapper-dropdown {
            &.v-2 {
                @include media-query(490px) {
                    width: 100%;
                }
            }
        }
    }
}

.drop-container {
    border: 1px solid $dark-gray;
    background-color: $white;
    padding: clamp(12px, 0.833vw, 32px);
    border-radius: $br-12;
}

.wrapper-dropdown {
    position: relative;
    display: inline-block;
    width: fit-content;
    width: 100%;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .selected-display {
        font-weight: 400;
        line-height: 150%;
    }

    &::before {
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -2px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: #fff transparent;
    }

    .topbar-dropdown {
        box-shadow: 0px 3px 6px 0px $light-gray;
        width: max-content;
        background: $white;
        color: $dark-gray !important;
        transition: 0.3s;
        position: absolute;
        top: 167%;
        right: 0;
        left: -17px;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 99;
        border-radius: 5px;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        opacity: 0;
        visibility: hidden;


        li {
            color: $medium-black !important;
            font-weight: 500;
            padding: 0 15px;
            line-height: 45px;
            border-radius: 0;
            overflow: hidden;
            transition: $transition;


            &:last-child {
                border-bottom: none;
            }

            &:hover {
                transition: $transition;
                background-color: $accent-3;
                color: $white !important;
            }
        }
    }

    &.active {
        .topbar-dropdown {
            opacity: 1;
            visibility: visible;
            border-radius: 5px;
        }
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    .arrow {
        float: right;
        rotate: 180deg;
    }

    svg {
        transition: all 0.3s;
    }

    .rotated {
        transform: rotate(-180deg);
    }
}

.box-container {
    transition: $transition;

    .img-box {
        display: flex;
        justify-content: center;
    }

    .content-box {
        border-radius: $br-24;
        background-color: $white;
        border: 1px solid $dark-gray;
        padding: clamp(150px, 11.198vw, 250px) clamp(24px, 1.667vw, 64px) clamp(24px, 1.667vw, 64px) clamp(24px, 1.667vw, 64px);
        margin-top: -260px;
        transition: $transition;

        @include media-query(1499px) {
            margin-top: clamp(-150px, -13.542vw, -290px);
        }

    }

    &:hover {
        color: $white;
        transform: scale(1.1);
        transition: $transition;

        @include media-query(575px) {
            transform: none;
        }

        .content-box {
            border: none;
            color: $white !important;
            background-color: $accent-1;
            transition: $transition;

            .content-text {
                color: $white;
            }

            .content-text-1 {
                color: $accent-3;
            }

            .cus-btn {
                background-color: $accent-3 !important;
            }

            .cus-btn:before {
                content: "";
                background-color: $accent-3;
                transition: $transition;
            }
        }
    }
}