.title-banner {
    background: url('../media/backgrounds/title-bg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    padding: clamp(120px, 8.333vw, 210px) 0;

    .title-content {
        display: flex;
        align-items: center;
        text-align: left;
    }
}